/* Header */
/* Home-page*/
/* Footer */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
section,
footer,
hgroup,
menu,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
header nav.navcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  height: 8rem;
}
header nav.navcon button {
  align-self: center;
  justify-content: space-evenly;
  margin: 0.6rem;
  width: 10%;
  height: 40%;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 100%;
  background-color: grey;
}
header div img {
  margin-left: 4rem;
  width: 14rem;
  height: 14rem;
}
header div img.circular--square {
  border-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
header div div.pcol {
  background: beige;
  display: flex;
  flex-direction: column;
  height: 14rem;
  width: 50%;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  margin-right: 1rem;
  justify-content: space-evenly;
}
header div div.pcol h1#h {
  width: 100%;
  height: 100%;
  font-size: 4rem;
}
header div div.pcol h1 {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}
header div div.pcol p.pc {
  background-color: teal;
  font-size: 1rem;
  width: 60%;
  height: 100%;
}
header div div.pcol p {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}
section#tsec {
  width: 100%;
  height: 66rem;
  margin: 0rem 3rem 0rem 3rem;
}
section div#topSec {
  display: flex;
  flex-direction: column;
  background-color: coral;
  color: white;
}
section div {
  background-color: red;
  width: 40%;
  height: 16rem;
  margin: 1rem;
}
section div.bottomSec {
  margin: 1rem;
  width: 15rem;
  height: 20rem;
}
section div.bottomSec img {
  width: 10rem;
  height: 10rem;
}
footer#foot {
  background-color: blueviolet;
  width: 100%;
  height: 40rem;
  margin: 0.7rem;
}
footer#foot img {
  width: 85%;
  height: 22rem;
}
footer img {
  display: flex;
  align-self: center;
}
footer nav.navcon {
  background-color: black;
  width: 100%;
  height: 20rem;
}
footer nav.navcon button {
  margin: 1rem;
  width: 20%;
  height: 30%;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer nav button {
  display: flex;
  align-self: center;
}
