/* Header */
/* Home-page in the middle section*/
/* Footer laster area where the picture starts */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
section {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: 'monospace';
  font-weight: 40;
  src: local('RobotoMono-Regular'), url('../assets/fonts/RobotoMono-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Chelsea Market';
  font-style: 'cursive';
  font-weight: 40;
  src: local('ChelseaMarket-Regular'), url('../assets/fonts/ChelseaMarket-Regular.ttf') format('ttf');
}
body {
  margin: 0%;
  width: 96%;
  height: 100%;
  background-color: brown;
}
p {
  font-family: 'Roboto Mono', monospace;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section p.mp {
  box-sizing: border-box;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header#header {
  margin: 2vh 2vw;
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
header nav.navcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  height: 8rem;
}
header nav.navcon button {
  align-self: center;
  justify-content: space-evenly;
  margin: 0.6rem;
  width: 10%;
  height: 40%;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 50vh;
  background-color: grey;
}
header div img {
  margin-left: 4rem;
  width: 14rem;
  height: 14rem;
}
header div img.circular--square {
  border-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
header div div.pcol {
  background: bisque;
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 50%;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  margin-right: 21rem;
  /* Move the beige box over */
  justify-content: space-evenly;
}
header div div.pcol h1#h {
  font-family: 'Chelsea Market', 'cursive';
  width: 100%;
  height: 100%;
  font-size: 5rem;
}
header div div.pcol h1 {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}
header div div.pcol p.pc {
  background-color: greenyellow;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  width: 80%;
  height: 55vh;
}
header div div.pcol p {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}
section#tsec {
  width: 100%;
  height: 66rem;
  margin: 3rem 3rem 3rem 3rem;
}
section div {
  background-color: red;
  margin: 1rem;
}
section div#topSec {
  display: flex;
  flex-direction: column;
  width: 70vw;
  /* Move the black box top middle section */
  height: 30vh;
  background-color: black;
  font-size: 1.1rem;
  color: white;
}
section div#topSec p {
  width: 100%;
  height: 100%;
  margin: 0.4rem;
}
section div#topSec p.mp {
  font-size: 1.1rem;
}
section div.bottomSec {
  padding: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  width: 28rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
section div.bottomSec img {
  width: 10rem;
  height: 10rem;
}
section div.bottomSec img.mImg {
  display: flex;
  align-self: center;
  justify-self: space-between;
}
footer#foot {
  background-color: blueviolet;
  width: 100%;
  height: 40rem;
  margin: 0.7rem;
}
footer#foot img {
  width: 85%;
  height: 22rem;
}
footer img {
  display: flex;
  align-self: center;
}
footer nav.navcon {
  background-color: black;
  width: 100%;
  height: 20rem;
}
footer nav.navcon button {
  margin: 1rem;
  width: 20%;
  height: 30%;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer nav button {
  display: flex;
  align-self: center;
}
