footer#foot{
	background-color: blueviolet;
	width:@hn;
	height:40rem;
	margin:.7rem;
	img{
		width:85%;
		height:22rem;
	}
}

footer{
	display: @f;
	flex-direction: @fc;
	justify-content: @se;
	img{
		display: @f;
		align-self:@c;
		
	}
	nav.navcon{
		background-color: black;
		width:@hn;
		height:20rem;
				button{
					margin:1rem;
					width:20%;
					height:30%;
				}
	}
	nav{
		display: @f;
		flex-direction: @fr;
		
		justify-content: @se;
		button{
			display: @f;
			align-self: @c;
			//align-content: center;
			
		}
	}
}
