// paragraph font we should be using
@font-face { 
    font-family: 'Roboto Mono'; 
    font-style:  'monospace';  
    font-weight: 40;
    src: local('RobotoMono-Regular'),
             url('../assets/fonts/RobotoMono-Regular.ttf') format('ttf'),
}
// The bold of roboto mono
@font-face { 
    font-family: 'Roboto Mono Bold'; 
    font-style:  'monospace';  
    font-weight: 500;
    src: local('RobotoMono-Bold'),
             url('../assets/fonts/RobotoMono-Bold.ttf') format('ttf'),
}


// h1 font we are suppose to use
@font-face { 
    font-family: 'Chelsea Market';
    font-style:  'cursive';  
    font-weight: 40;
    src: local('ChelseaMarket-Regular'),
             url('../assets/fonts/ChelseaMarket-Regular.ttf') format('ttf'),
}
// chelsea market b



body{
    margin:0%;
	width:100%;
    height:@hn;
    background-color: #FFFFFF;
   /* More Sepcific */
}
p{
    font-family:'Roboto Mono', monospace;
   
}
b{
    
   font-weight:700;
   font-family:'Roboto Mono', monospace;
}


section{
   .section();
   p.mp{
       box-sizing: border-box;
       // More Specific
        // width:70vw; /* Move the black box top middle section */
       // height:30vh;
       // background-color: black;
		
        //color:white;
        //display:flex;
       
      // flex-direction: column;

   }
   
	
}
footer{
    .foot();
}