@font-face { 
    font-family: 'Roboto Mono'; 
    font-style:  'monospace';  
    font-weight: 40;
    src: local('RobotoMono-Regular'),
             url('../assets/fonts/RobotoMono-Regular.ttf') format('ttf'),
}
@font-face { 
    font-family: 'Chelsea Market';
    font-style:  'cursive';  
    font-weight: 40;
    src: local('ChelseaMarket-Regular'),
             url('../assets/fonts/ChelseaMarket-Regular.ttf') format('ttf'),
}



p{
    font-family:'Roboto Mono', monospace;
}


section{
   .section();
	
}
footer{
    .foot();
}