// The mid section top part
section#tsec{
	width:@hn;
	height:66rem;
	//margin-bottom:1rem;
	margin:0rem 3rem 0rem 3rem;
}
//// The section tag
section{
	/// Section has a global with a mixins
	// todo center align content
	div#topSec{
		.divTopSec();
	}
	div{
		.secDiv();
	}
	div.bottomSec{
		.secDivBtm();
		img{
			.secDivBtmImg();
		}
	}
} //end section