
/* Header */

.header(){
    display:@f;
	flex-direction:@fc;
	width:@hn;
	height:@hn;
}

.navcon(){
    display:@f;
			flex-direction: @fr;
			
			align-content: @c;
			
			justify-content: @se;
			
			background-color: black;
			width:@hn;
			height:8rem;
}


.button(){
    align-self:@c;
					
							justify-content: @se;
							margin: .6rem;
							width:10%;
							height:40%;
}
// Next column

.divR(){
    display:@f;
			flex-direction:@fr;
			justify-content: @sb;
			align-content: @sb;
			width:@hn;
			height:@hn;
			background-color: grey;
}
.divRimg(){
    margin-left:4rem;
					width:14rem;
					height:14rem;
}
.imgCirSq(){
    border-radius: 50% 50%;
				border-top-left-radius: 50% 50%;
				border-top-right-radius: 50% 50%;
				border-bottom-right-radius: 50% 50%;
				border-bottom-left-radius: 50% 50%;
}

.divPcol(){
    background: beige;
					display:@f;
					flex-direction: @fc;
					height:14rem;
					width:50%;
					align-items: @c;
					justify-items: @c;
					padding:.5rem;
					margin-right:1rem;
							justify-content: @se;
}
// next row of that column 2
.h1h(){
    width:@hn;
							height:@hn;
							font-size:4rem;
}

.h1Nav(){
    display: @f;
							align-content: space-around;
							flex-wrap: wrap;
							justify-content: space-around;
}

.pPc(){
    background-color:teal;
							font-size:1rem;
							width:60%;
							height:@hn;
						//	margin-right:26rem; // Position p to be @ced
}


.pNav(){

    display: @f;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    //align-self: @c;
}
// End header
/* Home-page in the middle section*/
.section(){
    display: @f;
		flex-direction: @fc;
		align-items: @c;
	
}

.divTopSec(){
    display:@f;
		flex-direction: @fc;
	
		background-color: coral;
		color:white;
}
.secDiv(){
    background-color: red;
		width:40%;
		height:16rem;
		margin:1rem;
}

.secDivBtm(){
		margin:1rem;
		width:15rem;
		height:20rem;
}
.secDivBtmImg(){
    width:10rem;
			height:10rem;
}



/* Footer laster area where the picture starts */

.footerFoot(){
    background-color: blueviolet;
	width:@hn;
	height:40rem;
	margin:.7rem;
}

.footerFootImg(){
    width:85%;
		height:22rem;
}

.foot(){
    display: @f;
	flex-direction: @fc;
	justify-content: @se;
}

.footImg(){
    display: @f;
		align-self:@c;
}

.footNavcon(){
    background-color: black;
		width:@hn;
		height:20rem;
}
.footBtn(){
    margin:1rem;
					width:20%;
					height:30%;
}

.navFoot(){
    display: @f;
		flex-direction: @fr;
		
		justify-content: @se;
}

.navFootBtn(){
    display: @f;
			align-self: @c;
}