@f:flex;
@fc:column;
@fr:row;
@hn:100%;
@c:center;
@se:space-evenly;
@sb:space-between;

// navbar buttons
@btn1:#FF764E;
@btn2: #5ED3EB;
@btn3:#FFCD69;


// The breakpoint

@Desktop: ~'(min-width: 1000px)';
@Tablet: ~'(min-width: 750px)';
@Phone: ~'(min-width: 440px)';


// nav breakpoint 825 X 672
    // make nav buttons bigger 
   


@h1nav: ~'(min-width: 1126px) and (min-height:600px)';
@h1shrink: ~'(max-width: 1126px) and (max-height:600px)';


// 1025px 500px redifine the mid section 
 // make the yosimity sam h1 Text size smaller at 1126
    // // make the middle section grow verticle

    @mid: ~'(min-width: 1126px) and (min-height:500px)';
@midshrink: ~'(max-width: 1126px) and (max-height:500px)';
