html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    max-width:100%;
    /* border:1px solid grey; */
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;
    font-family: 'Roboto Mono', monospace;
}
a{
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
}
h1{
    font-size:5rem;
    font-family: 'Chelsea Market', cursive;
}
section{
    padding:4% 0;
}
nav {
    padding: 2% 0;
}
nav a {
    display: inline-block;
    padding: 1% 0;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.orange{
    background-color: #FF764E;
    margin-left: 10%;
}
.blue{
    background-color: #5ED3EB;
    margin: 0 24%;
    position: relative;
}

.about{
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.mainSection{
    display: flex;
}
.myImg{
    /* display: inline-block; */
    width: 200px;
    height: 200px;
    border-radius: 50%;  
}
img{
    margin-left: 10rem;
    float: left;
    margin-right: 2em;
    border-radius: 10px;
}
.divContainer{
    background-color: #f8edeb;
    height: 90vh;
}
.imgContainer h2{
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: bold;
}

.css-button-sliding-to-bottom--sand {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #adb5bd;
    color: #adb5bd;
    margin-top: 1.5em;
  }
  .css-button-sliding-to-bottom--sand:hover {
    color: #fff;
  }
  .css-button-sliding-to-bottom--sand:hover:after {
    height: 100%;
  }
  .css-button-sliding-to-bottom--sand:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #adb5bd;
  }