.text-white {
  color: white;
}

.background-orange {
  background: #ff764e;
}

.background-blue-light {
  background: #5ed3eb;
}

.background-yellow {
  background: #ffcd69;
}

.background-brown-light {
  background: #ddb9a3;
}
