/* reset css */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}






html {
    font-size: 10px;
}

h1 {
    font-family: "Chelsea Market";
    font-size: 4rem;
    text-align: center;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto Mono";
    max-width: 1440px;
    margin: 0 auto;
}

#TopRound {
    display: inline-block;
    width: 20%;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
}

.tabs {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.tabs div {
    display: inline-block;
    width: 7%;
    margin: 20px 120px;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get {
    background-color: #FFCD69;
}

.first {
    background-color: #DDB9A3;
    margin: 8% 5% 3% 5%;
    padding: 2% 3%;
    text-align: center;
    color: white;
}

#info {
    margin: 0 10%;
}

#infotext {
    display: inline-block;
    width: 70%;
    text-align: center;
    vertical-align: middle;
    margin: auto 0;
}

#infotext p {
    padding: 16px;
    margin: 0 auto;
}
#alwaysopen {
    width: 40%;
}

#fire {
    width: 40%;
    margin: 0 auto; 
}

#fire img {
    width: 100%;
}

.second {
    width: 20%;
    text-align: center;
    margin: 70px auto;
}

#truck {
    width: 40%;
    margin: 0 auto;
}

.final {
    width: 24%;
    text-align: center;
    margin: 70px auto;
}

#truck img {
    width: 100%;
}

footer {
    width: 100%;
    height: 15%;
    background-color: #F9E7DC;
}

#bottom {
    background: url(assets/footer_img.jpg);
    width: 100%;
    height: 250px;
}