html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Dont Copy pasta my code */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: "Roboto Mono", monospace;
}
nav a {
  margin: 40px;
  border: none;
  border-radius: 12px;
  width: 10%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#button1 {
  background-color: #ff764e;
}

#button2 {
  background-color: #5ed3eb;
}

#button3 {
  background-color: #ffcd69;
}
nav {
  text-align: center;
  padding: 30px;
}
header img {
  border-radius: 50%;
  width: 30%;
  margin: 0px 20px 0px 120px;
  float: left;
}
header {
  display: inline-block;
}
h1 {
  font-family: "Chelsea Market", monospace;
  font-size: 50px;
  text-align: center;
  margin: 40px 70px 0 0;
}
header h4 {
  text-align: center;
}
.container {
  background: #ddb9a3;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2px 40px;
  margin: 40px;
}
.pics {
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
footer nav {
  background: #f9e7dc;
  padding: 0 0 0 0;
}

#1234 {
  object-fit: cover;
  width: 516;
  height: 150px;
}
