/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border:1px solid grey;
}

/*general style */
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4F4F4F; /*easier to read then back on white*/
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
}
section{
    padding: 4% 0;
}



nav {
    padding: 2% 0;
}

nav a{
    display: inline-block;
    padding: 1% 0;
    width: 10;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.orange {
    background-color: #FF764E;

}

.blue {
    background-color: blue;

}

.yellow {
    background-color: yellow;
}

.lowerimage {
    height: 40vh;
    background-color: url('assets/footer_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}