/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*{
    font-size: 62.5%;
    color: black;
    text-decoration: none;
    max-width: 100%;
    /* border: solid 1px grey; */
}
/*Header
header{
    border: solid 1px grey;
}*/
h1{
    font-family: 'Chelsea Market', cursive;
    display: inline-block;
    font-size: 8rem;
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
}
.text-top{
    display: inline-block;
}
.text-top2{
    width: 50%;
}
.text-top3{
    width: 70%;
}
/*Top Img*/

.top-img-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: inline-block;
}
.top-img{
    margin-left: 5%;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}
.aimg{
    display: inline-block;
    height: 40vh;
    width: 30%
}

/*Central box*/


.center-box{
    width: 70%;
    background-color: #ddb9a3;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}


p, a{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courier New';
}
a{
    color: ivory;
    text-align: center;
}
span{
    font-family: 'Courier New';
    font-size: 2.5rem;
    font-weight: bold;
}
p{
    margin-right: auto;
    margin-left: auto;
    width: 29%;
    line-height: 1.5;
}

.topp{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color: ivory;
}
/*Fire and car imgs*/
.fire{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.car{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
/*Navigation boxes*/

.nav-container{
    padding-top: 3%;
    /* border: solid 1px black; */
    margin-bottom: 3%;
}

.orange-box, .blue-box, .yellow-box{
    margin-left: 8%;
    margin-right: 8%;
    display: inline-block;
    width: 10%;
    border-radius: 25px;
    text-align: center;
    /* border: solid 1px black; */
}
.orange-box{
    background-color: #FF764E;
    padding: 0.8%;
    margin-left: 15%;
}
/* added hover on the nav boxes*/
.orange-box:hover{
    -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}
.blue-box{
    background-color: #5fd3ec;
    padding: 0.8%;
}
.blue-box:hover{
    -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.yellow-box{
    background-color: #ffcd6a;
    padding: 0.8%;
}
.yellow-box:hover{
    -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

/*Footer*/

.footer-img{
    height: 45vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: 10% 10%;
}

.bottom{
    background-color: #f9e7dc;
    height: 15vh;
    padding-top: 2%;
    padding-bottom: -5%;
    margin-bottom: -2%;
    box-shadow: 0 6px 2px -2px lightgray;
}
