/* *{
    border:1px solid black;
} */
body{
    font-family: 'Roboto Mono', monospace;
}
.nav1{
    display: inline-block;
    margin-left:30%;
    margin-bottom: 1%;
    margin-top:1%;
    margin-right:40% ;
}
.nav1 a{
    margin-right:20px;
    border: 1px solid black;
    border-radius:10px;
    padding:10px;
    text-decoration:none;
}
h1{
    font-family: 'Chelsea Market', cursive;
}
.txt{
    display: inline-block;
    margin-bottom:2%;
    height: 40%;
    text-align: center;
}
.test{
    text-align:center;
    margin-right:30%;
}
.img{
    margin-right:80px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 240px;
    border:1px solid black;
    border-radius:130px;
    width:10%;
}
.p1{
    color:white;
    max-width:100% ;
    background-color: #DDB9A3;
    margin-left:2% ;
    display: inline-block;
    text-align: center;
    padding-left:22% ;
    padding-right: 33%;
}
.fire{
    margin-left:40%;
    width: 10%;
}
.pp1{
    display:inline-block;
    text-align: center;
    margin-left:33%;
}
.transport{
    width:40%;
}
.pp{
    
    text-align: center;
}
.footer-image {
    width: 100%; 
    height: 350px;
    object-fit:cover;
    object-position: top;   
}
.nav2{
    background-color:'#F9E7DC';
    display: inline-block;
    margin-left:30%;
    margin-bottom: 1%;
    margin-top:1%;
    margin-right:40% ;
}
.nav2 a{
    margin-right:20px;
    border: 1px solid black;
    border-radius:10px;
    padding:10px;
    text-decoration:none;
}
.navlink{
    background-color:#FF764E;
    color:white;
}
.navlink1{
    background-color:#5ED3EB;
    color:white;
}
.navlink2{
    background-color:#FFCD69;
    color:white;
}
footer{
    background-color:#F9E7DC ;
}
em{
    font-weight: bolder;
}