html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

* {
    box-sizing: border-box;
}

img{
  width: 100%;
}

body {
  text-align: center;
  line-height: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

p {
  padding: 5px;
}

h1 {
  font-size: 3.5rem;
  font-family: 'Chelsea Market'; 
  padding: 20px;
  width: 100%;
}

h2{
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 3%;
}

header {
  width: 90%;
  height: 50px;
  border: 1px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 10px;

}


.container header nav a  {
    width: 40px;
    height: 90px;      
    border: 1px;
    border-radius: 20px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1%;
    color: white;
    text-decoration: none;
    transition: width 2s, height 2s, transform 2s;
}

.container header nav a:hover {
  background: green;
  color: black;
  width: .5rem;
  height: .5rem;
  transform: rotate(360);
}

.color1{
    background-color: #FF764E;
}

.color2{
    background-color: #5ED3EB;

}

.color3{
    background-color: #FFCD69;
}

.container-2{
  margin: 2%;
  width: 100%;
  height: auto;
  padding: 5%;
  border: 2px;
  display: inline-block;
}

.image-box{
  border: 2px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 3%;
  width: 30%;
  height: auto;
  padding: 5px;
  float: left;

}

.title{
  border: 2px;
  display: inline-block;
  margin: 1%;
  width: 58%;
  min-width: 150px;
  text-align: center;

}

.main-body{
  width: 100%;
  height: 10rem;
  border: 2px;
  margin: 3%;
  padding: 1%;
  text-align: center;
  background-color: #DDB9A3;
  color: white;
  font-size: 1rem;
}

.image-3 {
  margin: 0 auto;
  width: 100%;
  height: 10rem;
  border: 2px;
  padding: 1px;

}

.container-3 {
  margin: 0 auto;
  width: 30%;
  height: auto;
  border: 2px;
  padding: 3%;
  text-align: center;
 
  
}


.footer-image{
  width:100%;
  height:auto;
  margin: auto;

}


footer {
  width: 100%;
  height: 100px;
  border: 1px;
  padding: 3%;
  margin: auto;
  background-color: #F9E7DC;
}

.container footer nav a  {
    width: 40px;
    height: 120px;      
    border: 1px;
    border-radius: 20px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1%;
    color: white;
    text-decoration: none;
   
}

strong{
    font-weight: bold;
}
