
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    border: 1px solid black;
    margin: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var(--color-bg-canvas);
}
.header-p {
    padding-left: 30px;
    padding-right:30px;
}
a{
    
    width: 15%;
    height: 35%;
    margin-left: 10%;
    border-radius: 1rem;
    text-decoration: none;
    padding:2%;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
a:hover {
    color: red;
    font-size: large;
    background-color: white;
}
nav{
    margin-top:60px;

}
nav a{
    align-items: center;
}
img {
    width: 200px;
    height: 200px; 
    align-items: center;

}
img:hover {
    opacity: 0.5 ;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 75px;
}
.title p {
    font-family: 'Roboto Mono', monospace; 
    line-height: 3rem;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}
h1::first-letter{
    color: red;
}
.logo{
    width: 20%;
   
}
.main-logo {
    width: 30%;
    height: 25%;
    border-radius: 200px;
    padding: 50px;
    display: inline;
    
}
.main-paragraph {
    color: white;
     font-family: 'Roboto Mono', monospace; 
     padding: 20px;
     font-size: 1.5rem;
}
.main-paragraph p{
    padding:10px;
}
.title {
    float: right;
    padding-top:100px;
    text-align: left;
    width: 70%;
}
.plan {
    background-color: #FF764E;
}
.learn{
    background-color: #5ED3EB;
}
.involve {
    background-color: #FFCD69;
}
.nav-link{
    width:200px;
    height:100px;
    
}

.main-paragraph {
    background-color: #DDB9A3;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    line-height: 2.2rem;
    margin: 0 40px 0 20px;
}
.footer-container{
    background-color: rgb(252,231,219) ;
    height:50%;
}
.footer-container img {
    width: 100%;
}
.footer-container a:hover {
    background-color: rgb(252,231,219) ;
    font-size: 34px;
}
.footer {
   
    padding-bottom: 140px;

}
.footer-container {
    padding-bottom: 10%;
}
.footer-container img {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    align-items: center;
}

.carImage {
    width: 20%;
    margin-top: 5%;
    margin-left:40%;
}

.footer-image{
    height: 350px;
    background-position: center;
    background-size: cover;
    align-items: center;
}
span {
    font-family: bold;
}
.footer-nav {
    padding-top: 40px;
}
