/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    border:1px solid grey;
    max-width:100%;

}
html{
    font-size:62.5%;

}
body{
    font-size:1.8rem;
    color:#4f4f4f;
    line-height:1.5;
    font-family:;
}

h1{
    font-family:;
    letter-spacing:3px;
    font-size:6rem;
}
section{
    padding: 4%;
}
nav a{
    display:inline-block;
    border-radius:10px;
    padding:2% 0;
    text-align:center;
    width:8%;
    color:white;
    text-decoration:none;
}
.orange{
    background: #FF764E;
    margin:0 25% 0 12%;
}
.blue{
    background: #5ED3EB;
}
.yellow{
    background: #FFCD69;
    margin:0 12% 0 25%;
}

.headerimage {
    display:inline-block;
    width:30%;
    text-align:center;
    border-radius:50%
}
.headerimage, .invite{
    display: inline-block;
}
.invite{
    width: 68%;
    text-align: center;
}
.section2{
    background:#DDB9A3;
    text-align: center;
}

.text{
    text-align: center;
    

}
.fire, .truck{
    margin:0 auto;
}
.section3 {
    margin:0 auto;
    text-align: center;
}
footer{
    background:#F9E7DC
}
.footerimage{
    width: 100%;
}