html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

* {
    box-sizing: border-box;
}
.container{
    margin: 1%;
    width: 100%;

}

.container header nav a {
    margin: 0 10px;
    border: 1px solid black;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: ##FF764E;
}

h1{
    font-family: 'Chelsea Market';
    text-align: center;

}

.title{
    text-align: center;
    line-height: 1.4;
}
.main-body{
    background-color: #DDB9A3;
    color:white;
    text-align: justify;
}

.header-image{
    border-radius: round;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    width: 33%;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.fire-section{
    text-align: center;
    
}

.truck-section{
    text-align: center;
}


body{
    color:black;
    font-family: 'Roboto Mono';
}   

footer{
    background-color:#F9E7DC;
  }
  