/* Color the background of items in the navigation bar and footer with the following colors:
 Plan your Visit: #FF764E
 Learn About the Park: #5ED3EB
 Get Involved: #FFCD69

 Change all font colors and styles according to design file
 Yosemite Park Guide font is called Chelsea Market and can be found on google fonts
 All other text is Roboto Mono, also available on google fonts

 Color the background of the main text body with #DDB9A3
 Color the background of the footer with #F9E7DC

 Bold the words "current fire restrictions" and "park entrance fee" according to the design file
 Apply box model properties (content, padding, margin, and border) to all content such that your webpage matches the design file. This will include at least:
 A round image in the header
 Round corners on navigation and footer items
 Header image and text side by side
 Centered content and margins around content
 Footer image positioning */
body {
    margin: 5%;
}


header {
   /* border: 2px solid black; */
    display: block;
}

.headtext {
    display: inline-block;
    margin: 5%;
}

.headtext p {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
   /* border: 2px solid black; */
    font-family: "Chelsea Market";
    display: inline-block;
    text-align: center;
    font-size: 4em;
}

img {
   /* border: 2px solid black; */
    display: inline-block;
}

.navigation {
    /* border: 2px solid black; */
    display: block;
    margin: 2%;
}

.logo img {
    /* border: 2px solid black; */
    border-radius: 50%;
    display: inline-block;
    width: 15%;
    margin-left: 8%;
}

.logo {
    display: inline;
}

a {
  /*  border: 2px solid black; */
    display: inline-block;
    text-align: center;
    color: white;
    font-family: "Roboto Mono";
    text-decoration: none;
    margin-left: 15rem;
    padding: 5px 30px;
    border-radius: 15px;
}

.plan {
    background: #FF764E;
}

.learn {
    background: #5ED3EB;
}

.involved {
    background: #FFCD69;
}

.middletext {
   /* border: 2px solid black; */
    background: #DDB9A3;
    color: white;
    text-align: center;
    padding: 0.5%;
    font-size: 1.15em;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

p {
    font-family: "Roboto Mono";
    /* border: 2px solid black; */
    text-align: center;
}

.infopics {
    /* border: 2px solid black; */
    padding: 5%;
}

.infopics img {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infopics p {
    display: block;
    margin-left: 35%;
    margin-right: 35%;
}

footer {
   /* border: 2px solid black; */
    background: #F9E7DC;
}

footer nav {
    padding: 2%;
}

footer img {
    width: 100%;
    max-height: 40vh;
    transform: scale(0.5, 0,5)
}
