/* CSS reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  border: 1px solid grey;
  max-width: 100%;
}

/*General Styles */

html {
  font-size: 62.5%;
}

Body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 5rem;
  font-family: "Chelsea Market", cursive;
}

section {
  padding: 4% 0;
  width: 90%;
  margin: 0 auto;
}

nav {
  padding: 2% 0;
}

nav a {
  display: inline-block;
  padding: 1% 0;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.orange {
  background-color: #ff764e;
  margin-left: 10%;
}

.blue {
  background-color: #5ed3eb;
  margin: 0 24%;
}

.yellow {
  background-color: #ffcd69;
  margin-right: 10%;
}

/*a*/
.cta {
  position: relative;
}

.text,
.image {
  display: inline-block;
}

.image {
  width: 30%;
}
.round {
  border-radius: 50%;
}

.text {
  width: 55%;
  margin-left: 5%;
  text-align: center;
  line-height: 3;
  position: absolute;
  top: 150px;
}

/*Section B*/

.b {
  background-color: #ddb9a3;
  color: white;
  padding: 2%;
}

/* Section C*/

.c div {
  width: 30%;
  margin: 5% auto;
}
.bold {
  font-weight: bold;
}

.ABC {
  width: 100%;
  background-image: url("assets/footer_img.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

footer {
  background-color: #f9e7dc;
}
