body .img1 img {
  border-radius: 50%;
  background-image: 50px 50px;
  max-height: 250px;
  justify-content: left;
}

.header-container header nav button {
  margin: 0 10px 20px;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;git
}
.orange_button {
  background-color: #ff6633;
}
.blue_button {
  background-color: #4fd5ec;
}

.yellow_button {
  background-color: #ffcc66;
}
.header-container {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px 50px;
}

body {
  font-family: ;
}
.mainText {
  background-color: #ddb9a3;
  color: white;
  padding: 10px 80px;
}

.fire img {
  width: 50%;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.backgroundFooter {
  background-color: #f9e7dc;
}

.footer-container .footer_img img {
  height: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer nav button {
  margin: 0 10px;
  padding: 20px;
  display: inline-flex;
  border-radius: 20px;
  color: white;
  background: #ff6633;
  text-align: center;
}
