*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    max-height: 100%;
    border:1px solid grey;
}
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color:#4F4F4F;
    font-family: 'Roboto Mono', monospace;
    background-color:#FFFAFA;
}
h1, h2, h3, h4{
    letter-spacing: 3px;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}
h1{
    font-size: 5rem;
}

header nav{
    width:100%;
    top:0;
    background-color:rgba(255, 255, 255, 0.8);
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:10vh;
    z-index: 999;
}

.links{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.button1{
    display: inline-block;
    width: 20%;
    text-align: center;
    border-radius: 12px;
    background-color: #FF764E;
    color: white;
    transition: 2s;
    border: 3px solid;
}
.button2{
    display: inline-block;
    width: 20%;
    text-align: center;
    border-radius: 12px;
    background-color: #5ED3EB;
    color: white;
    transition: 2s;
    border: 3px solid;
}
.button3{
    display: inline-block;
    width: 20%;
    text-align: center;
    border-radius: 12px;
    background-color: #FFCD69;
    color: white;
    transition: 2s;
    border: 3px solid;
}
.top{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.top img{
    border-radius: 50%;
    margin-left: 5%;
    width: 30%;
}

.title{
    text-align: center;
    width: 100%;
    margin-top: 3%;
}
.title h1{
    font-size: 7rem;
}
.title p{
    font-size: 3rem;
    margin-top: 3%;
}
.description{
    background-color: #DDB9A3;
    text-align: center;
    margin: 2%;
    color: #FFFAFA;
    font-size: 3rem;
}

.icon{
    text-align: center;
    justify-content: space-around;
    width: 35%;
    margin-left: 37%;
}

.icon p{
    margin-top: 3%;
    margin-bottom: 20%;
}

.icon img{
    padding: 25%;
}
.landscape{
    background-image:url('assets/footer_img.jpg');
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-color: #F9E7DC;
    justify-content: space-around;
}
