		html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
		del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
		h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
		dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
			vertical-align: baseline;
			font-family: inherit;
			font-weight: inherit;
			font-style: inherit;
			font-size: 100%;
			outline: 0;
			padding: 0;
			margin: 0;
			
			}
		/*	
		/* remember to define focus styles! */
		:focus {
			outline: 0;
			}
		body {
			background: white;
			line-height: 1;
			color: black;
			}
		ol, ul {
			list-style: none;
			}
		/* tables still need cellspacing="0" in the markup */
		table {
			border-collapse: separate;
			border-spacing: 0;
			}
		caption, th, td {
			font-weight: normal;
			text-align: left;
			}
		/* remove possible quote marks (") from <q> & <blockquote> */
		blockquote:before, blockquote:after, q:before, q:after {
			content: "";
			}
		blockquote, q {
			quotes: "" "";
			}

		*{
		box-sizing: border-box;
		padding:0;
		margin:0;
		max-width:100%;
		/* border: solid 1px red; */
		}
		html{
			font-size:62.5%;

		}
		body{
			font-size:1.6rem;
			line-height:1.5;
			color:#4f4f4f;
			font-family: 'Roboto Mono', monospace;

		}
		h1{
			font-family: 'Chelsea Market', cursive;
			font-size: 5rem;
		}

		section{
			padding:4% 0;

			/*header section*/
		}
		nav{
			padding:2% 0;	
		}
		nav a{
		display:inline-block;
		padding:1% 0;
		width:15%;
		border-radius: 10px;
		text-align: center;
		color: white;
		text-decoration: none;


		}
		.orange{
			background-color: #ff764e;
			margin-left: 5%;
		}
		.blue{
			background-color: #5ed3eb;
			margin: 0 20%;
		}
		.yellow{
			background-color: #ffcd69;
			margin-right: 5%;
		}

		/*Titles Section Styles*/
		.titles{
			text-align:center;
			position:relative;
		}
		.left, .right{
			display:inline-block;
		}
		.left{
			width:20%;
			margin-left:2%;
		}
		.left img{
			border-radius:50%;
		}
		.right{
			width:70%;
			margin-right: 5%;
			margin: 0 auto;
		}
		.right div{
			position:absolute;
			top:20%;

		} 
		.right h2{
			margin: 1% 10%;
		}

		.always-open{
		width: 50%;
		margin: 0 auto;
		text-align: center;
		}
		/* main section */

		.main{
		background-color:#DDB9A3;
		margin: 1% 5%;
		padding: 2% 2%;
		color: white;
		}
		.main p{
			padding-top: 2rem;
		}

		.second-section{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			text-align: center;
			}

		.second-section img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;

		}
		.bold{
			font-weight: bold;
		}

		.footer-img{
			background-image:url("assets/footer_img.jpg");
			width: 100%;
			height: 50vh;
			background-repeat: no-repeat;
			background-position: top center;
		}
		footer{
			background-color: #F9E7DC;
		}