body nav 
{
    text-align: center;
    margin-top: 20px;
}

.button1 
{
    background: #FF764E;
    padding: 6px;
    border-radius: 10px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.button2 
{
    background: #5ED3EB;
    padding: 6px;
    border-radius: 10px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.button3 
{
    background: #FFCD69;
    padding: 6px;
    border-radius: 10px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

h1 
{
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;
}

body 
{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 0px;
}

.container 
{
    background-color: #DDB9A3;
}

footer 
{
    background-color: #F9E7DC;
}

.title
{
    display: grid;
    grid-template-columns: .5fr .8fr;
    margin: 10px 0px 0 0;
    font-size: 10px;

}

.title img 
{
    grid-area: 1;
    border-radius: 50%;
    height: 170px;
    margin: 40px;
    margin-right: 2px;
}

.container 
{
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 5px;
    margin: 10px 20px;
}

.mainbody 
{
    text-align: center;
    margin: 0 250px;
    font-size: 10px;
}

.campfire img 
{
    height: 80px;
}

.camper img
{
    height: 80px;
}

footer img 
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center top;
}

footer nav{
    padding: 15px;
}