* {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    border: 1px black;
}

.topnav a {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    font-size: 17px;
    color: white;
    display: inline-block;
}

.orange-nav {
    background-color: #FF764E;
}

.blue-nav {
    background-color: #5ED3EB;
}

.yellow-nav {
    background-color: #ffcd69;
}

.top-image {
    border-radius: 50%;
    width: 20%;
    height: auto;
    float: left;
}

body {
    margin: 20%;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 24px;
}

.main-text {
    background-color: #DDB9A3;
    margin: auto;
    padding: 20px;
    color: white;
}

.main-content {
    padding: 10px;
}

p {
    display: inline-block;
}

.fire-img {
    width: auto;
    height: 100px;
}

.rv-img {
    width: auto;
    height: 100px;
    display: inline;
}

footer {
    background-color: #F9E7DC;
    display: inline-block;
}

.footer-image {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
}

.bottom-nav a {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    font-size: 17px;
    color: white;
    display: inline-block;
}