* {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 11px;
}

nav {
    text-align: center;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:hover {
    background-color: #F9E7DC;
}

.orange-nav {
    background-color: #FF764E;
}

.blue-nav {
    background-color: #5ED3EB;
}

.yellow-nav {
    background-color: #ffcd69;
}

body {
    padding: 100px;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 24px;
    display: inline;
}

p {
    line-height: 20px;
    margin: 0 auto;
}

.container {
    width: 800px;
    margin: 0 auto;
}

#header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main-content {
    background-color: #DDB9A3;
    color: white;
    width: 100%;
    display: block;
}

footer {
    background-color: #F9E7DC;
    width: 800px;
    height: 100px;
    display: block;
}

#footer {
    width: 200px;
    height: 100px;
}

.small-img {
    width: 100px;
    height: 50px;
}