/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.buttons {
    width: 98%;
    height: 10%;
    padding: 1% 1% 4% 1%;
}
nav li{
    color:white;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 25px;
}

nav #li1 {
        background-color:orangered;
        width: 120px;
        height: 40px;
        padding: 20px;
        margin: 0 5%;
}

nav #li1:hover {
    background-color: peachpuff;
    
}

nav #li2 {
    background-color: lightskyblue;
    width: 120px;
    height: 40px;
    padding: 20px;
    margin: 0 5%;
}

nav #li2:hover {
    background-color: lightblue;  
}

nav #li3 {
    background-color:#FFCD6A;
    width: 120px;
    height: 40px;
    padding: 20px;
    margin: 0 5%;
}
nav #li3:hover {
    background-color: #ffe0a8;
}

img {
    width: 16%;
    height: auto;
    padding: 0 42%;

}

#headerimg {
    border-radius: 50%;
    margin: 10px 0;
    width: 100%;
    height: auto;
}

.intro {
    display: inline-block;
}

.divHeader {
    width: 98%;
    margin: 1%;

}

.leftHeader {
    width: 23%;
    margin: 1%;
    display:inline-block;
}

.rightHeader {
    width: 62%;
    padding: 10px;
    margin-left: 10%;
    display:inline-block;
    text-align: center;
    font-family: "Comic Sans MS";
}

.rightHeader h1 {
    font-size: 3rem;
    margin: 10px;
}
.rightHeader p {
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.mainText {
    text-align:center;
    color: white;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 90%;
    padding: 1% 2.5%;
    margin: 2.5%;
    background-color: burlywood;
    font-family: "Lucida Sans Unicode";
}

.middle p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 30%;
    height: auto;
    margin: 1% 35% 5%;
}

#mountains {
    width: 100%;
    height: auto;
    padding: 0;
}