*{
	margin: 0;
	padding: 0;
	font-size: 62.5px;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    width:100%;
    border: black solid 1px;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body  {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 62.5%;
}

.nav-cont {
    margin: 1% auto;
}

.nav {
    height: 20vh; 
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2% auto;
}

.nav a {
    color: #FFFFFF;
    margin: 2% 7.5%;
    text-decoration: none;
    border-radius: 25px;
    width: 15%;
    min-width: 15%;
    padding: 1.5% 2%;
    font-size: 1.2rem;
    line-height: 1.2;
}

.nav1  {
    display:inline-block;
    background-color:#FF764E;
}

.nav1:hover  {
    display:inline-block;
    background-color:#ffa68c;
    text-transform: uppercase;
}

.nav2  {
    display:inline-block;
    background-color:#5ED3EB;
}

.nav2:hover  {
    display:inline-block;
    background-color:#82d7e8;
    text-transform: uppercase;
}

.nav3  {
    display:inline-block;
    background-color:#FFCD69;
}


.head-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 1% auto;
}

.head-image-container  {
    display: inline-block;
    width: 25%;
    margin: 3% auto;
    border-radius: 50%;
    overflow: hidden;
}

.head-image-container img  {
    border-radius: 50%;
    display: inline-block;
}

.head-info  {
    display: inline-block;
    width: 60%;
    margin: 3% 2%;
    line-height: 1.5;
}

.head-info h1  {
    font-size: 4rem;
    font-family: 'Chelsea Market', cursive;
    padding: 2.5% auto;
}

.head-info p  {
    font-size: 1.5rem;
    padding: 2.5% auto;
}

.section-one  {
    background-color: #DDB9A3;
    font-size: 1.5rem;
    width: 95%;
    margin: 1% auto;
    padding: 2.5% 2.5%;
    color: #FFFFFF;
    line-height: 1.25;
}

.section-one p  {
    padding: 15% auto;
}

strong  {
    font-weight: bold;
}

.foot-container  {
    background-color: ;
}

.image-one  {
    width: 40%;
}

.section-two  {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.fire, .rv  {
    margin: 10% 0 20% 0;
}

.section-two p  {
    display: block;
    font-size: 1.5rem;    
    text-align: center;
    margin: 0 auto;
}

.image-two  {
    width: 40%;
}

img .footer-valley  {
    height: 25%;
}

footer  {
    background-color: #F9E7DC;
    overflow: hidden;
    position: absolute;
}

.footer-image  {
    min-height: 15%;
    width: 100%;
    max-height: 377px;
    overflow: hidden;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body  {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 62.5%;
}

.nav-cont {
    margin: 1% auto;
}

.nav {
    height: 20vh; 
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2% auto;
}

.nav a {
    color: #FFFFFF;
    margin: 2% 7.5%;
    text-decoration: none;
    border-radius: 25px;
    width: 15%;
    min-width: 15%;
    padding: 1.5% 2%;
    font-size: 1.2rem;
    line-height: 1.2;
}

.nav1  {
    display:inline-block;
    background-color:#FF764E;
}

.nav2  {
    display:inline-block;
    background-color:#5ED3EB;
}

.nav3  {
    display:inline-block;
    background-color:#FFCD69;
}

.head-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 1% auto;
}

.head-image-container  {
    display: inline-block;
    width: 25%;
    margin: 3% auto;
    border-radius: 50%;
    overflow: hidden;
}

.head-image-container img  {
    border-radius: 50%;
    display: inline-block;
}

.head-info  {
    display: inline-block;
    width: 60%;
    margin: 3% 2%;
    line-height: 1.5;
}

.head-info h1  {
    font-size: 4rem;
    font-family: 'Chelsea Market', cursive;
    padding: 2.5% auto;
}

.head-info p  {
    font-size: 1.5rem;
    padding: 2.5% auto;
}

.section-one  {
    background-color: #DDB9A3;
    font-size: 1.5rem;
    width: 95%;
    margin: 1% auto;
    padding: 2.5% 2.5%;
    color: #FFFFFF;
    line-height: 1.25;
}

.section-one p  {
    padding: 15% auto;
}

strong  {
    font-weight: bold;
}

.foot-container  {
    background-color: ;
}

.image-one  {
    width: 40%;
}

.section-two  {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.fire, .rv  {
    margin: 10% 0 20% 0;
}

.section-two p  {
    display: block;
    font-size: 1.5rem;    
    text-align: center;
    margin: 0 auto;
}

.image-two  {
    width: 40%;
}

img .footer-valley  {
    height: 25%;
}

footer  {
    background-color: #F9E7DC;
    overflow: hidden;
    position: absolute;
}

.footer-image  {
    min-height: 15%;
    width: 100%;
    max-height: 377px;
    overflow: hidden;
}

.main  {
    margin: 2% auto;
}