
/* Header */

.header(){
    display:@f;
    flex-direction:@fc;
    align-content: center;
    justify-content: center;
}
/*nav bar in header*/
.navcon(){
    display:@f;
			flex-direction: @fr;
			
			align-content: @c;
			
			justify-content: @se;
			
			background-color: black;
			width:@hn;
			height:8rem;
}


.button(){
    align-self:@c;
					
							justify-content: @se;
							margin: .6rem;
							width:10%;
							height:40%;
}
// button colors in nav
.btninfo(@color){
background-color: @color;
color:white;
font-family: 'Roboto Mono', monospace;
}

// Next column in header

.divR(){
    display:@f;
			flex-direction:@fr;
			justify-content: @sb;
			align-content: @sb;
			width:@hn;
			height:50vh;
			background-color: grey;
}
.divRimg(){
    margin-left:4rem;
					width:14rem;
					height:14rem;
}
.imgCirSq(){
    border-radius: 50% 50%;
				border-top-left-radius: 50% 50%;
				border-top-right-radius: 50% 50%;
				border-bottom-right-radius: 50% 50%;
				border-bottom-left-radius: 50% 50%;
}
// End first element in the row
// Yosimity Sam Area

.divPcol(){
    background: bisque;
					display:@f;
					flex-direction: @fc;
					height:18rem;
					width:50%;
					align-items: @c;
					justify-items: @c;
					padding:.5rem;
					margin-right:21rem; /* Move the beige box over */
							justify-content: @se;
}
// next row of that column 2
.h1h(){
    //font-family:'Roboto Mono', monospace;
    font-family: 'Chelsea Market', 'cursive';
    width:@hn;
							height:@hn;
							font-size:5rem; // Change h1 font
}

.h1Nav(){
    
   
    display: @f;
							align-content: space-around;
							flex-wrap: wrap;
							justify-content: space-around;
}

.pPc(){
    background-color:greenyellow;
    font-family:'Roboto Mono', monospace;
							font-size:1.2rem;
							width:80%;
							height:55vh;
						//	margin-right:26rem; // Position p to be @ced
}


.pNav(){

    display: @f;
    
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    //align-self: @c;
}
// End header
/* Home-page in the middle section*/
.section(){
    display: @f;
		flex-direction: @fc;
		align-items: @c;
	
}

.divTopSec(){
    display:@f;
		flex-direction: @fc;
        width:70vw; /* Move the black box top middle section */
        height:30vh;
        background-color: black;
		font-size:1.1rem; // Desktop sizing
		color:white;
}
.secDiv(){
    background-color: red;
		//width:40%;
		//height:16rem;
		margin:1rem;
}

.secDivBtm(){
    padding:.2rem;
        margin-left:.1rem;
		margin-right:.1rem;
		width:28rem; // Controlls the red boxes
		height:22rem;
}
.secDivBtmImg(){
             width:10rem;  //Controlls the images int he red box
			height:10rem;
}



/* Footer laster area where the picture starts */

.footerFoot(){
    background-color: blueviolet;
	width:@hn;
	height:36rem;
	margin:0rem .7rem .7rem .7rem;
}

.footerFootImg(){
    width:85%;
		height:20rem;
}

.foot(){
    display: @f;
	flex-direction: @fc;
	justify-content: @se;
}

.footImg(){
    display: @f;
		align-self:@c;
}

.footNavcon(){
    background-color: black;
		width:@hn;
		height:12rem;
}
.footBtn(){
    margin:1rem;
					width:20%;
					height:30%;
}

.navFoot(){
    display: @f;
		flex-direction: @fr;
		
		justify-content: @se;
}

.navFootBtn(){
    display: @f;
            align-self: @c;
            
            
}